
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
th{
    border: 2px solid #6f85a2;
}

.table{
    border-collapse: collapse;
    table-layout: fixed;
    border: 2px solid #6f85a2;
}
.gallery {
    display: flex;
    justify-content: space-around;
    align-items: center;
    float: left;
}

.iframe {
    text-align: center;
}

td {
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid #6f85a2;
    width: 70px;
    height: 70px;
    text-align: center;
}